
.heading_name {
    background: linear-gradient(to right, #f32170, #ff6b08);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.highlight_is {
    color: var(--bs-blue);
}